.calculator-component {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  width: 100%;
}

.calculator-sec {
  position: absolute;
  width: 50vw;
  height: 50vh;
  right: 0;
}

.calculator-component input {
  width: 99.5%;
  height: 50px;
  text-align: end;
  background-color: #858694;
  border-style: none;
}

.calculator-component input::placeholder {
  color: whitesmoke;
}

.cal-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cal-btn button {
  height: 55px;
  background-color: #e0e0e0;
  border: none;
  border: 1px solid #babac0;
}

.bk-org {
  background-color: #f5913e !important;
}

.btn-0 {
  grid-column-start: 1;
  grid-column-end: 3;
}
