body {
  box-sizing: border-box;
  margin: 0;
  font-family:
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  overflow: hidden;
}
